# Multiple Linear Regression with Dummies - Exercise

You are given a real estate dataset. 

Real estate is one of those examples that every regression course goes through as it is extremely easy to understand and there is a (almost always) certain causal relationship to be found.

The data is located in the file: 'real_estate_price_size_year_view.csv'. 

You are expected to create a multiple linear regression (similar to the one in the lecture), using the new data. 

In this exercise, the dependent variable is 'price', while the independent variables are 'size', 'year', and 'view'.

#### Regarding the 'view' variable:
There are two options: 'Sea view' and 'No sea view'. You are expected to create a dummy variable for view and include it in the regression

Good luck!

## Import the relevant libraries

In [1]:
import numpy as nm
import pandas as pd
import matplotlib.pyplot as pyt
import seaborn as sns
sns.set()
import statsmodels.api as sm

## Load the data

In [2]:
raw_data = pd.read_csv('real_estate_price_size_year_view.csv')

In [7]:
raw_data

         price     size  year         view
0   234314.144   643.09  2015  No sea view
1   228581.528   656.22  2009  No sea view
2   281626.336   487.29  2018     Sea view
3   401255.608  1504.75  2015  No sea view
4   458674.256  1275.46  2009     Sea view
5   245050.280   575.19  2006     Sea view
6   265129.064   570.89  2015     Sea view
7   175716.480   620.82  2006  No sea view
8   331101.344   682.26  2018     Sea view
9   218630.608   694.52  2009  No sea view
10  279555.096  1060.36  2009  No sea view
11  494778.992  1842.51  2009     Sea view
12  215472.104   694.52  2015  No sea view
13  418753.008  1009.25  2018  No sea view
14  444192.008  1300.96  2006     Sea view
15  440201.616  1379.72  2006     Sea view
16  248337.600   690.54  2018  No sea view
17  234178.160   623.94  2006     Sea view
18  225451.984   681.07  2006  No sea view
19  299416.976  1027.76  2018  No sea view
20  268125.080   620.71  2015     Sea view
21  171795.240   549.69  2015  No sea view
22  412569.472  1207.45  2015     Sea view
23  183459.488   518.38  2015  No sea view
24  168047.264   525.81  2009  No sea view
25  362519.720  1103.30  2018     Sea view
26  271793.312   570.89  2018     Sea view
27  406852.304  1334.10  2015     Sea view
28  297760.440   681.07  2015     Sea view
29  368988.432  1496.36  2015  No sea view
..         ...      ...   ...          ...
70  276875.632  1021.95  2009  No sea view
71  181587.576   643.41  2006  No sea view
72  298926.496   656.22  2015     Sea view
73  211724.096   549.80  2015  No sea view
74  228313.024   685.48  2018  No sea view
75  286161.600   685.48  2018     Sea view
76  382120.152  1183.46  2018     Sea view
77  365863.936  1334.10  2006  No sea view
78  251560.040   682.26  2009     Sea view
79  342988.456  1188.62  2006     Sea view
80  180307.216   681.07  2006  No sea view
81  408637.816  1122.34  2015     Sea view
82  190909.056   681.07  2006  No sea view
83  282683.544   643.09  2018     Sea view
84  303597.216   685.48  2018     Sea view
85  376253.808  1009.25  2018     Sea view
86  154282.128   479.75  2006  No sea view
87  327252.112  1028.41  2009     Sea view
88  211904.536   601.66  2018  No sea view
89  354512.112  1236.93  2018  No sea view
90  251140.656   694.52  2018  No sea view
91  338078.168  1071.55  2015  No sea view
92  298170.880   694.52  2015     Sea view
93  266684.248   698.29  2018  No sea view
94  262477.856   698.29  2006     Sea view
95  252460.400   549.80  2009     Sea view
96  310522.592  1037.44  2009  No sea view
97  383635.568  1504.75  2006  No sea view
98  225145.248   648.29  2015  No sea view
99  274922.856   705.29  2006     Sea view

[100 rows x 4 columns]

In [6]:
data = raw_data.copy()

## Create a dummy variable for 'view'

In [8]:
data['view'] = data['view'].map({'No sea view':0,'Sea view':1})

In [11]:
data.describe()

               price         size         year        view
count     100.000000   100.000000   100.000000  100.000000
mean   292289.470160   853.024200  2012.600000    0.490000
std     77051.727525   297.941951     4.729021    0.502418
min    154282.128000   479.750000  2006.000000    0.000000
25%    234280.148000   643.330000  2009.000000    0.000000
50%    280590.716000   696.405000  2015.000000    0.000000
75%    335723.696000  1029.322500  2018.000000    1.000000
max    500681.128000  1842.510000  2018.000000    1.000000

## Create the regression

### Declare the dependent and the independent variables

In [18]:
y= data['price']
x1= data[['size','year','view']]

x=sm.add_constant(x1)
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.913
Model:                            OLS   Adj. R-squared:                  0.910
Method:                 Least Squares   F-statistic:                     335.2
Date:                Wed, 03 Apr 2019   Prob (F-statistic):           1.02e-50
Time:                        19:03:28   Log-Likelihood:                -1144.6
No. Observations:                 100   AIC:                             2297.
Df Residuals:                      96   BIC:                             2308.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -5.398e+06   9.94e+05     -5.431      0.000   -7.37e+06   -3.43e+06
size         223.0316      7.838     28.455      0.000     207.473     238.590
year        2718.9489    493.502      5.510      0.000    1739.356    3698.542
view        5.673e+04   4627.695     12.258      0.000    4.75e+04    6.59e+04
==============================================================================
Omnibus:                       29.224   Durbin-Watson:                   1.965
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               64.957
Skew:                           1.088   Prob(JB):                     7.85e-15
Kurtosis:                       6.295   Cond. No.                     9.42e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.42e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

### Regression