# Clustering Categorical Data

You are given much more country data. Using the same methodology as the one in the lecture, group all the countries in 2 clusters. 

<b> Already done that? Okay! </b>
    
There are other features: name and continent. 

Encode the continent one and use it in the clustering solution. Think about the difference with the previous exercise.

## Import the relevant libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.cluster import KMeans

## Load the data

Load data from the csv file: <i> 'Categorical.csv'</i>.

In [4]:
# Load the data
raw_data = pd.read_csv('Categorical.csv')
# Check the data
raw_data

                        name   Longitude   Latitude                continent
0                      Aruba  -69.982677  12.520880            North America
1                Afghanistan   66.004734  33.835231                     Asia
2                     Angola   17.537368 -12.293361                   Africa
3                   Anguilla  -63.064989  18.223959            North America
4                    Albania   20.049834  41.142450                   Europe
5                      Aland   19.953288  60.214887                   Europe
6                    Andorra    1.560544  42.542291                   Europe
7       United Arab Emirates   54.300167  23.905282                     Asia
8                  Argentina  -65.179807 -35.381349            South America
9                    Armenia   44.929933  40.289526                     Asia
10            American Samoa -170.718026 -14.304460                  Oceania
11                Antarctica   19.921090 -80.508579               Antarctica
12   Ashmore and Cartier Is.  123.583838 -12.429932                  Oceania
13    Fr. S. Antarctic Lands   69.226668 -49.248955  Seven seas (open ocean)
14         Antigua and Barb.  -61.794693  17.277500            North America
15                 Australia  134.491000 -25.732887                  Oceania
16                   Austria   14.126476  47.585494                   Europe
17                Azerbaijan   47.545999  40.288272                     Asia
18                   Burundi   29.875122  -3.359397                   Africa
19                   Belgium    4.640651  50.639816                   Europe
20                     Benin    2.327853   9.641760                   Africa
21              Burkina Faso   -1.754566  12.269538                   Africa
22                Bangladesh   90.238127  23.867312                     Asia
23                  Bulgaria   25.215529  42.768903                   Europe
24                   Bahrain   50.541969  26.042051                     Asia
25                    Canada  -98.307770  61.362063            North America
26                   Bahamas  -76.628430  24.290367            North America
27          Bosnia and Herz.   17.768767  44.174501                   Europe
28            St-BarthÃ©lemy  -62.840678  17.898805            North America
29                   Belarus   28.032093  53.531314                   Europe
..                       ...         ...        ...                      ...
211                     Chad   18.644925  15.333338                   Africa
212                     Togo    0.962328   8.525314                   Africa
213                 Thailand  101.002881  15.118158                     Asia
214               Tajikistan   71.013626  38.530454                     Asia
215             Turkmenistan   59.371000  39.115541                     Asia
216              Timor-Leste  125.844390  -8.828892                     Asia
217                    Tonga -174.809873 -20.428432                  Oceania
218      Trinidad and Tobago  -61.265679  10.457334            North America
219                  Tunisia    9.552884  34.119562                   Africa
220                   Turkey   35.168953  39.061603                     Asia
221                   Taiwan  120.954273  23.753993                     Asia
222                 Tanzania   34.813100  -6.275654                   Africa
223                   Uganda   32.369080   1.274693                   Africa
224                  Ukraine   31.383265  48.996567                   Europe
225                  Uruguay  -56.018071 -32.799515            South America
226            United States -112.461674  45.679547            North America
227               Uzbekistan   63.140015  41.755542                     Asia
228                  Vatican   12.433872  41.901750                   Europe
229       St. Vin. and Gren.  -61.201297  13.224723            North America
230                Venezuela  -66.181841   7.124224            South America
231       British Virgin Is.  -64.471470  18.525858            North America
232          U.S. Virgin Is.  -64.803015  17.955006            North America
233                  Vietnam  106.299147  16.646017                     Asia
234                  Vanuatu  167.686446 -16.226409                  Oceania
235    Wallis and Futuna Is. -177.348348 -13.887370                  Oceania
236                    Samoa -172.164851 -13.753243                  Oceania
237                    Yemen   47.586762  15.909280                     Asia
238             South Africa   25.083901 -29.000341                   Africa
239                   Zambia   27.774759 -13.458242                   Africa
240                 Zimbabwe   29.851441 -19.004204                   Africa

[241 rows x 4 columns]

Remove the duplicate index column from the dataset.

In [5]:
data = raw_data.copy()
data = data.drop(['Unnamed: 0'], axis = 1)

KeyError: "['Unnamed: 0'] not found in axis"

## Map the data

Use the <i>'continent'</i> category for this analysis.

In [6]:
data_mapped = data.copy()
data_mapped['continent'] = data_mapped['continent'].map({'North America':0,'Europe':1,'Asia':2,'Africa':3,'South America':4, 'Oceania':5,'Seven seas (open ocean)':6, 'Antarctica':7})
data_mapped

                        name   Longitude   Latitude  continent
0                      Aruba  -69.982677  12.520880          0
1                Afghanistan   66.004734  33.835231          2
2                     Angola   17.537368 -12.293361          3
3                   Anguilla  -63.064989  18.223959          0
4                    Albania   20.049834  41.142450          1
5                      Aland   19.953288  60.214887          1
6                    Andorra    1.560544  42.542291          1
7       United Arab Emirates   54.300167  23.905282          2
8                  Argentina  -65.179807 -35.381349          4
9                    Armenia   44.929933  40.289526          2
10            American Samoa -170.718026 -14.304460          5
11                Antarctica   19.921090 -80.508579          7
12   Ashmore and Cartier Is.  123.583838 -12.429932          5
13    Fr. S. Antarctic Lands   69.226668 -49.248955          6
14         Antigua and Barb.  -61.794693  17.277500          0
15                 Australia  134.491000 -25.732887          5
16                   Austria   14.126476  47.585494          1
17                Azerbaijan   47.545999  40.288272          2
18                   Burundi   29.875122  -3.359397          3
19                   Belgium    4.640651  50.639816          1
20                     Benin    2.327853   9.641760          3
21              Burkina Faso   -1.754566  12.269538          3
22                Bangladesh   90.238127  23.867312          2
23                  Bulgaria   25.215529  42.768903          1
24                   Bahrain   50.541969  26.042051          2
25                    Canada  -98.307770  61.362063          0
26                   Bahamas  -76.628430  24.290367          0
27          Bosnia and Herz.   17.768767  44.174501          1
28            St-BarthÃ©lemy  -62.840678  17.898805          0
29                   Belarus   28.032093  53.531314          1
..                       ...         ...        ...        ...
211                     Chad   18.644925  15.333338          3
212                     Togo    0.962328   8.525314          3
213                 Thailand  101.002881  15.118158          2
214               Tajikistan   71.013626  38.530454          2
215             Turkmenistan   59.371000  39.115541          2
216              Timor-Leste  125.844390  -8.828892          2
217                    Tonga -174.809873 -20.428432          5
218      Trinidad and Tobago  -61.265679  10.457334          0
219                  Tunisia    9.552884  34.119562          3
220                   Turkey   35.168953  39.061603          2
221                   Taiwan  120.954273  23.753993          2
222                 Tanzania   34.813100  -6.275654          3
223                   Uganda   32.369080   1.274693          3
224                  Ukraine   31.383265  48.996567          1
225                  Uruguay  -56.018071 -32.799515          4
226            United States -112.461674  45.679547          0
227               Uzbekistan   63.140015  41.755542          2
228                  Vatican   12.433872  41.901750          1
229       St. Vin. and Gren.  -61.201297  13.224723          0
230                Venezuela  -66.181841   7.124224          4
231       British Virgin Is.  -64.471470  18.525858          0
232          U.S. Virgin Is.  -64.803015  17.955006          0
233                  Vietnam  106.299147  16.646017          2
234                  Vanuatu  167.686446 -16.226409          5
235    Wallis and Futuna Is. -177.348348 -13.887370          5
236                    Samoa -172.164851 -13.753243          5
237                    Yemen   47.586762  15.909280          2
238             South Africa   25.083901 -29.000341          3
239                   Zambia   27.774759 -13.458242          3
240                 Zimbabwe   29.851441 -19.004204          3

[241 rows x 4 columns]

## Select the features

In [9]:
x = data_mapped.iloc[:,3:4]
x

     continent
0            0
1            2
2            3
3            0
4            1
5            1
6            1
7            2
8            4
9            2
10           5
11           7
12           5
13           6
14           0
15           5
16           1
17           2
18           3
19           1
20           3
21           3
22           2
23           1
24           2
25           0
26           0
27           1
28           0
29           1
..         ...
211          3
212          3
213          2
214          2
215          2
216          2
217          5
218          0
219          3
220          2
221          2
222          3
223          3
224          1
225          4
226          0
227          2
228          1
229          0
230          4
231          0
232          0
233          2
234          5
235          5
236          5
237          2
238          3
239          3
240          3

[241 rows x 1 columns]

## Clustering

Use 4 clusters initially.

In [ ]:
kmeans = KMeans(4)
kmeans.fit(x)

## Clustering results

In [ ]:
identified_clusters = kmeans.fit_predict(x)
identified_clusters

In [ ]:
data_with_clusters = data_mapped.copy()
data_with_clusters['Cluster'] = identified_clusters
data_with_clusters

## Plot the data

In [ ]:
plt.scatter(data['Longitude'], data['Latitude'], c=data_with_clusters['Cluster'], cmap = 'rainbow')
plt.xlim(-180,180)
plt.ylim(-90, 90)
plt.show()

Since you already have all the code necessary, go back and play around with the number of clusters. Try 3, 7 and 8 and see if the results match your expectations.

Simply go back to the beggining of the <b> Clustering </b> section and change <i> kmeans = KMeans(4) </i> to <i> kmeans = KMeans(3) </i>. Then run the remaining cells until the end.